@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SAAUR | Login 2FA</title>
    <meta name="description" content="Seven admin dashboard live demo. Check out all the features of the admin panel. Light &amp; dark skins. A large number of settings, additional services and widgets." />
    <meta name="keywords" content="Seven, bootstrap, bootstrap 5, dmin themes, free admin themes, bootstrap admin, bootstrap dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Seven HTML Free - Bootstrap 5 HTML Multipurpose Light/Dark Admin Dashboard Theme" />
    <meta property="og:url" content="https://keenthemes.com/products/seven-html-pro" />
    <meta property="og:site_name" content="Keenthemes | Seven HTML Free" />
    <link rel="canonical" href="Https://preview.keenthemes.com/seven-html-free" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/sweet-alert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
</head>
<body>
    <div class="contenedor">
        <div class="left">
            <div>
                <h1>SAAUR</h1>
                <p>Sistema de Autenticación y Administración de Usuarios y Roles</p>
            </div>
        </div>
        <div class="right bg-body p-10">
            <form class="form animated fadeInDown" id="frmLogin" novalidate>
                <h1 class="text-center mb-3">Iniciar Sesión</h1>
                <h1 class="fs-6 text-gray-700 mb-10 ">Se ha enviado un mensaje a su correo electrónico con el código de verifiación, porfavor revise su bandeja.</h1>
                <div class="row mb-5">
                    <div class="col-lg-12">
                        <label class="form-label">Código de verficación</label>
                        <input type="text" class="form-control w-400px" placeholder="00000" name="code" id="txtCode" required />
                    </div>
                </div>
                <div class="row text-center mb-6">
                    <div class="col-lg-12">
                        <button type="button" onclick="sendCode();" class="btn btn-secondary">Vover a enviar Código</button>
                        <button type="button" onclick="validCode();" class="btn btn-success">Validar Código</button>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <a href="@Url.Action("Login","Account")"><i class="fa fa-arrow-left"></i> Vover a Login Principal</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/sweet-alert/sweetalert2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/_config.js"></script>
    <script src="~/js/_tools.js"></script>
    <script src="~/js/account/login2FA.js"></script>
</body>
</html>