<div id="kt_activities" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="activities" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '900px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_activities_toggle" data-kt-drawer-close="#kt_activities_close">
	<div class="card shadow-none rounded-0">
		<div class="card-header" id="kt_activities_header">
			<h2 class="card-title fw-bolder text-dark">APLICACIONES PERMITIDAS</h2>
		</div>
		<div class="card-body position-relative">
			<div class="row" id="content-apps">
			</div>
		</div>
	</div>
</div>